* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #00acdc;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  height: 15px;
}

.nav__item {
  list-style: none;
}

.nav__link {
  color: black;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:not(:first-child) {
  margin-left: 16px;
}

.nav__list a:hover {
  color: var(--blue);
}

.logo {
  display: block;
  height: 40px;
  width: 40px;
}
